# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/

# IDE / Editor folders
.vscode/

# Application-specific
temp_extracted_files/
*.log